**
!package.json
!README.md
!LICENSE
!resources/idle.svg
!out/extension.js
!out/extension.js.LEGAL.txt
!dist/**
!bin/**/idle-editor-service*
!bin/**/idle-history-service*
!bin/**/idle-history-collector*
!bin/**/codex-session-exporter*
!bin/**/idle-coordination*
!bin/**/idle-repository*
dist/peer-state/**
